.navbar-dark{
  background-color:rgba(255, 68, 0, 0.712);
  opacity:1;
}
.jumbotron{
  background-color:rgb(235, 168, 141);
  color:whitesmoke;
  padding-top:150px;
}
.navbar-toggler-icon{
  color:black;
}
.carousel .carousel-item {
  height: 500px; 
  background:black;
}
.carousel .carousel-item img{
  opacity:0.4;
}
.carousel-caption{
  display: block;
}
.footer{
  height:50px;
  background-color: black;
  margin-top:30px;
}
.loginbtn{
  background-color:rgba(255, 68, 0, 0.712);
  color:white;
}
.loginModal .modal-header{
  background-color:rgba(255, 68, 0, 0.712);
  color:white;
}
.galleryItem{
  border:1px solid grey;
  border-radius:4px;
}
.btnvisit{
  font-style: none;
  text-decoration: none;
  color:rgba(255, 68, 0, 0.712);
  font-size:20px;
  font-weight: bolder;
  text-transform: none;
}
.btnvisit:hover{
  text-decoration: none;
  color:lightsalmon;
}


